*{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  background: cyan;
}

#h1 {
    font-size: 20px;
    color: white;
    background: darkcyan;
    text-align: center;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid black;
}

.seccion{
  margin: 0;
  width: 100%;
  float: center;
}

header, section, article{
  display: block;
}

article {
  background: teal;
  margin: auto;
  border: 1px solid black;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  margin-left: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
article footer {
  text-align: right;
  margin-top: 0;
}

p {
  text-align: center;
}

table {
  align-items: center;
  border: 1px solid white;
}

a h1 h4{
  color: white;
}

tr {
  color: white;
}
